# Database connection (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ecommerce_db?schema=public"

# Auth / JWT
JWT_SECRET="super-secret-jwt-key-production-change-me-32-chars-minimum"
JWT_EXPIRES_IN="7d"

# Server Ports
PORT=4000
NEXT_PUBLIC_API_URL="http://localhost:4000/api"
